<%- include('_header') -%>
<div id="error">
  <h1>Error</h1>
<% if (server.start) { %>

  <p>
    Cannot connect to server on
    <code>PORT=<%= server.env.PORT %></code>
    [ <a href="http://localhost:<%= server.env.PORT %>">http://localhost:<%= server.env.PORT %></a> ]
  </p>

  <h2>
    Possible causes
  </h2>

  <ul>
    <li>Server crashed or timeout of <%= serverReady.timeout %>ms exceeded.</li>
    <li>Server is not listening on <code>PORT</code> environment variable.</li>
  </ul>

  <p>
    Try to reload or check logs.
  </p>

  <h2>Logs</h2>
  <pre><code><%= server.command.join(' ') %>
---
<%= server.tail %></code></pre>

<% } else { %>

  <p>
    Cannot proxy request to <a href="<%= server.target %>"><%= server.target %></a>.
  </p>

  <pre><code><%= err.message %></code></pre>

<% } %>
</div>

<%- include('_footer') -%>
